@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=DM+Serif+Display:ital@0;1&family=Marcellus+SC&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  display: none;
}

a.active hr {
  display: block;
}

a.active {
  font-weight: 700;
}

* {
  font-family: "SUSE", sans-serif;
  
}

.bodoni-moda-heading {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Hide scrollbars in all modern browsers */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}
